@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&display=swap');
#content{
    max-width: 1600px;   
}
nav{
    display: flex;
    justify-content: space-around;
}
header{
    display:grid;
    grid-template-columns: 150px auto;
    background-color: #178EF4;
    
}
nav a {
    display: block;
    text-decoration: none;
    padding: 40px;
    border-radius: 100px;
    font-size: x-large;
    color: white
}
nav a:hover{
    transition: 0.25s;
    background-color: black;
    color:white

}
#profile{
    display: grid;
    grid-template-columns:50%;
    margin-top: 100px;
    justify-content: space-around;

}
#first_msg{
    grid-row:1 ;    
}
.first_image{
    grid-row: 1;
}
.msg1{
    text-align: center;
    font-size: x-large;
    margin: 3%;
}
.page_grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-content: space-around;
}
.Behance_img{
    width: 75%;
    height: 85%;
    margin-left: 10%;
}
.mobile_ui{
    width: 75%;
    height: 85%;
    margin-left: 10%;

}
.analytics_ui{
    width: 75%;
    height: 85%;
    margin-left: 10%;
}
.info{
    margin-left: 25%;
}
footer{
    background-color: #178EF4;
    text-align: center;
}
.social_x{
    margin: 20px;
}
.social_ig{
    margin: 20px;
}
.social_lk{
    margin: 20px;
}
.social_fb{
    margin: 20px;
}

/*THIS IS CSS FOR THE contact page*/
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-left: 30px;
}
.fb{
    width: 85px;
}
.social-disc{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}
.lk{
    grid-row: 1/2;
}
body{
    font-family: Courgette, "Brush Script", cursive;

}
header{
    font-family: "Big Shoulders Display";
}